#items{
   margin: 0px;
   padding: 0px;
}

#items .even {
  position: relative;
   margin: 10px;
   padding: 5px;
   width: 99%;
  border-bottom: 1px dashed #dddddd;
}

#items .odd {
  position: relative;
   margin: 10px;
   padding: 5px;
   width: 99%;
   border-bottom: 1px dashed #dddddd;
}

#items .featured {
    background-color: #FFA8A8;
}

#items .item_image{
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  border: 1px solid black;
  padding: 0px;
  margin: 5px;
}

#items .item_info{
  padding: 0px;
  margin: 0px;
  margin-left: 4%;
  width: 85%;
}

#items .item_info p{
  margin: 0px;
  padding: 2px;
}

table#items td {
    text-align: center;
}

#items h3{
  text-transform: uppercase;
  width: auto;
  padding: 0px;
  padding-left: 1%;
  margin: 0px;
}

div.pagination {
    margin-left: 20px;
}