<% title "Search artifacts page" %>

<% form_for [@index_artifacts_template],:builder => AdminFormBuilder, :url => { :controller => :index_artifacts_template, :action => :update } do |f| %>
  <fieldset>
    <legend>Search Artifacts Template</legend>
    <%= f.error_messages %>
    <%= f.text_area :template, :rows=>16 %>
    <%= f.text_area :css, :rows=>16 %>
    <div class="submit"><%= f.submit "Save" %></div>
  </fieldset>
<% end %>


