<div class="person">
  <% authors = Author.find(:all, :conditions => {:site_id  => @site.id}).map { |author| [h(author.name), author.id] } %>
  <% options = options_for_select(authors) %>
  <%= select_tag "item[authors_list][]", options, :id => "new_author_select" %>
  <%= link_to_function "remove", "$(this).parent().remove()" %>
</div>