<% title "Edit #{@singular}" %>

<%= render :partial => 'form', :locals => {:action => 'update'} %>

<p>
  <%= link_to "Show", itemadmin_path(@item, :subdomain => @site.title) %> |
  <%= link_to "View All", itemadmin_index_path(:subdomain => @site.title) %>
</p>
