<% title "#{@plural}" %>

<div id="">

  <% form_tag itemadmin_index_path(:subdomain => @site.title), :method => 'get' do %>
    <p id="searchbox">
      <%= text_field_tag :search, params[:search], :id => 'searchfield' %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
  <div id="items">
    <%= render :partial => 'user/items/items_table', :locals => {:items => @items} %>
  </div>
</div>