<% title "SuperAdmin" %>

<h2>Streetprint Configuration</h2>

<ul>
  <li><%= link_to "Change Streetprint settings", edit_streetprint_settings_path %><br></li>
  <li><%= link_to "Approve Streetprint sites", sites_administration_path %></li>
</ul>