<% title "Edit Author", false %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", author_path(@author, :subdomain => @site.title) %> |
  <%= link_to "View All", admin_authors_path(:subdomain => @site.title) %>
</p>
