<% title "Author" %>

<p>
  <strong>Name:</strong>
  <%= sanitize @author.name %>
</p>
<p>
  <strong>Gender:</strong>
  <%= sanitize @author.gender %>
</p>
<p>
  <strong>Description:</strong>
  <%= sanitize @author.description %>
</p>
