body{
	padding: 0px;
	margin: 0px;
	background-color: #D8EAEF;
}

#logo{
	background-color: #FFFFFF;
	text-align:center;
	padding: 30px;
}

/* TOP-LEFT Header to display information - maybe a logo for the admin section of the site */
#admin-header{
	display: block;
	width: 98%;
	height: 24px;
	padding: 3px;
	margin: 0px;
	background-color: #00A0C6;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;	
	padding-left: 2%;
	padding-right: 0px;
	text-transform: uppercase;
}

#admin-header a{
	color: #FFFFFF;
	text-decoration: none;
}

/* TOP-RIGHT FLOATING Header to display admin site links */

#nav-header{
	display: block;
	position: absolute;
	float: right;
	top: 0px;
	right: 0px;
	height: 20px;
	padding: 3px;
	margin: 0px;
	background-color: #000000;
	font-family: arial;
	font-size: 14px;
	color: #FFFFFF;	
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
	text-transform: uppercase;
}

#nav-header a{
	color: #FFFFFF;
	text-decoration: none;
}
#nav-header a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}

/* FLASH NOTICES & ERRORS */

#flash{
	padding: 1px;
	margin: 0px;
	background-color: #FFFFFF;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 4px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* HEADINGS */

form{
	
	display: block;
	text-align: center;
}

h1{
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #00A0C6;
	font-family: arial;
	font-size: 40px;
	font-weight: bold;
	text-transform: lowercase;
}

/* ITEMS LAYOUT */

#items table{
	margin: auto;
	background-color: #FFFFFF;
}

#items td,#items th{
	border: 1px solid #D8EAEF;
}

#items th{
	color: #00A0C6;
}

#items td{
	font-size: 12px;
}

.item_even{
	background-color: #EFEFEF;
	
}

.item_odd{
}


.featured_item{
	background-color: #D8FEDB;
}

#item_content{
	background-color: #FFFFFF;
	padding: 20px;
	border: 2px solid #004F69;
}

#item_content h2{
	margin-top: 0px;
	color: #004F69;	
}

#item_top{
	padding: 20px;
	background-color: #EEEEEE;
	text-align: center;
	border: 1px solid #444444;
	
}

#item_bottom{
padding: 20px;

}

/* FIELDSET AND LEGEND */

#advanced_properties{
	background-color: #cccccc;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 10px;
}

#advanced_properties{
	display:none;
}

.advanced_toggle{
	padding:4px;
	text-align: center;
	color: #FFFFFF;
	background-color: #000000;
}

.advanced_toggle a{
	color: #FFFFFF;	
}

.description, .description-theme{
	text-align: left;
	color: #666666;
	font-size: 10px;
	font-style: italic;
}

.description{
	margin: 0px;
	padding: 0px;
	padding-left: 190px;
	width: 440px;
}

.details{
	padding: 6px;
}

#shown_content, fieldset{
	display: block;
	margin: auto;
	text-align: left;
	padding: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: 4px solid #004F69;
	background-color: #FFFFFF;
	width:800px;
}

#shown_content{
	padding: 0px;
	text-align: center;
}

#shown_content h2, legend{
	border: 4px solid #004F69;
	width: auto;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	color: #FFFFFF;
	font-family: arial;
	font-size: 24px;
	font-weight: bold;
	text-transform: lowercase;
	text-align: center;
	background-color: #004F69;
}

legend{
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
	padding: 0px;
	margin: 0px;
}

#shown_content table{
	margin: auto;
	width: 90%;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}

#shown_content td, #container th{
	font-size: 12px;
}

#shown_content th{
	color: #004F69;
	background-color: #CCCCCC;
	text-transform: uppercase;
	font-size: 12px;
}

fieldset img{
	padding: 2px;
	vertical-align: middle;
}

fieldset fieldset{
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
	padding: 10px;
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	width:90%;
}

fieldset fieldset legend{
	text-align: left;
	width: auto;
	border: none;
	padding: 4px;
	margin: 0px;
	font-size: 16px;
	color: #AAAAAA;
	background-color: #FFFFFF;
}

.red_hot{
	color: red;
}

.center{
	text-align: center;
}

.field{
	text-align: center;
}

label {
	padding: 2px;
	color: #004F69;
	display: inline-block;
	width: 180px;
	text-align: right;
    font-weight: bold;
	font-size: 12px;
	font-family: geneva, tahoma, arial, sans-serif;
}

fieldset input, fieldset textarea{
	display: inline-block;
	width: 440px;
	text-align: left;
	/* background-color: #D8EAEF; */
}

fieldset textarea{
	vertical-align: text-top;
}

.submit{
	text-align: center;
}

.submit input{
	display: auto;
	width: auto;
	text-align: center;
	background: auto;
}

.center input{
	width: auto;
}

.center_text{
	text-align: center;
}
/*  */

#sites{
	background-color:#FFFFFF;
	border: 1px solid #00A0C6;	
}

.approved_site, .site{
	display: inline-block;
	width: 288px;
	margin: 16px;
	border: 1px solid #444444;
	background-color: #DDDDDD;
}


.approved_site {
	border: 1px solid #00A0C6;
	background-color: #D8EAEF;
}

.site_name{
	color:#FFFFFF;
	overflow:hidden;
	background-color: #444444;
	padding: 4px;
}

.approved_site .site_name{
	background-color: #00A0C6;
}

.site_name a{
	text-transform: lowercase;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.site_name a:hover{
	text-decoration: underline;
}

.site_menu{
	padding: 4px;
}

.site_menu img{
	padding: 2px;
	vertical-align: middle;
}

#featured_sites ul{
    background-color: #FFFFFF;
}

#featured_sites li{
	display: inline-block;
    margin: 0px;
    padding: 4px;
    color: #00A0C6; 
    width: 160px;
    list-style-type: none;
	text-align: center;
}

#featured_sites a{
    color: #00A0C6;
}

#featured_sites a:hover{
    background-color: #00A0C6;
    color: #FFFFFF;
}

#featured_sites li img{
    margin: 0px;
    padding: 3px;
	height: 60px;
}

#featured_sites p.description{
    margin-top: -60px;
    float: left;
    margin-left: 80px;
}

#mission{
	background-color: #FFFFFF;
	background: #FFFFFF url('/images/paperback.png') no-repeat center right
}

#mission a{
	color: #000000;
}

#mission a:hover{
	color: #FFFFFF;
	background-color: #444444;
}

#mission h2{
}	

#mission_logo{
background-color: #FFFFFF;
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 10px;
	width: 336px;
	text-align: center;
	color:#00A0C6;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

#mission_content{
background-color: #FFFFFF;
	padding: 20px;
	padding-top: 0px;
	width: 336px;
}

/* footer */

#footer{
	text-align: center;
	margin: 20px;
	margin-top: 40px;
	font-size: 12px;
}

/* OVERRIDE THE CONTAINER */
#container{
	border: none;
	background-color: inherit;
}