body{
	padding: 0px;
	margin: 0px;
	background-color: #D8EAEF;
}

#logo{
	background-color: #FFFFFF;
	text-align:center;
	padding: 30px;
}

/* TOP-LEFT Header to display information - maybe a logo for the admin section of the site */
#admin-header{
	display: block;
	width: 98%;
	height: 24px;
	padding: 3px;
	margin: 0px;
	background-color: #00A0C6;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;	
	padding-left: 2%;
	padding-right: 0px;
	text-transform: uppercase;
}

#admin-header a{
	color: #FFFFFF;
	text-decoration: none;
}

/* TOP-RIGHT FLOATING Header to display admin site links */

#nav-header{
	display: block;
	position: absolute;
	float: right;
	top: 0px;
	right: 0px;
	height: 20px;
	padding: 3px;
	margin: 0px;
	background-color: #000000;
	font-family: arial;
	font-size: 14px;
	color: #FFFFFF;	
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
	text-transform: uppercase;
}

#nav-header a{
	color: #FFFFFF;
	text-decoration: none;
}
#nav-header a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}

/* FLASH NOTICES & ERRORS */

#flash{
	padding: 1px;
	margin: 0px;
	background-color: #FFFFFF;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 4px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* HEADINGS */

h1{
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #00A0C6;
	font-family: arial;
	font-size: 40px;
	font-weight: bold;
	text-transform: lowercase;
}

/* FIELDSET AND LEGEND */
legend{
	padding: 10px;
	margin: 0px;
	color: #00A0C6;
	font-family: arial;
	font-size: 40px;
	font-weight: bold;
	text-transform: lowercase;
	background-color: #FFFFFF;
	border: 1px solid #000000;
}

fieldset{
	padding: 20px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}

label {
    font-weight:bold;
}

#sites{
	background-color:#FFFFFF;
	border: 1px solid #00A0C6;	
}

.site{
	display: inline-block;
	width: 400px;
	margin: 20px;
	border: 1px solid #00A0C6;
	background-color: #D8EAEF;
}

.site_name{
	color:#FFFFFF;
	overflow:hidden;
	background-color: #00A0C6;
	padding: 4px;

	
}

.site_name a{
	text-transform: lowercase;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.site_name a:hover{
	text-decoration: underline;
}

.site_menu{
	padding: 4px;
}

.site_menu img{
	padding: 2px;
	vertical-align: middle;
}

#featured_sites li{
    margin: 0px;
    padding: 4px;
    background-color: #FFFFFF;
    color: #00A0C6; 
    width: 300px;
    list-style-type: none;
}

#featured_sites a{
    color: #00A0C6;
    vertical-align: middle;
}

#featured_sites a:hover{
    background-color: #00A0C6;
    color: #FFFFFF;
}

#featured_sites img{
    margin: 0px;
    padding: 3px;
    display: block;
}

#featured_sites p{
    margin-top: -60px;
    float: left;
    margin-left: 80px;
}

#mission{
	background-color: #FFFFFF;
	background: #FFFFFF url('/images/paperback.png') no-repeat center right
}

#mission a{
	color: #000000;
}

#mission a:hover{
	color: #FFFFFF;
	background-color: #444444;
}

#mission h2{
}	

#mission_logo{
background-color: #FFFFFF;
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 10px;
	width: 336px;
	text-align: center;
	color:#00A0C6;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}

#mission_content{
background-color: #FFFFFF;
	padding: 20px;
	padding-top: 0px;
	width: 336px;
}

/* footer */

#footer{
	text-align: center;
	margin: 20px;
	margin-top: 40px;
	font-size: 12px;
}

/* OVERRIDE THE CONTAINER */
#container{
	border: none;
	background-color: inherit;
}