div.photo_icon {
    float: left;
    padding-right: 3px;
    min-width: 50px;
    min-height: 55px;
}

#current_photo {
    min-height: 425px;
}

table#items {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

table#items tr.even {
    background-color: #e6e6e6;
}
table#items tr.featured {
    background-color: #FFA8A8;
}

table#items td {
    text-align: center;
}

table#items th {
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 6px;
	background: #CAE8EA;
}


div#searchbox {
    padding-top: 20px;
    padding-left: 20px;
}
input#searchfield {
    width: 150px;
}

div.pagination {
    margin-left: 20px;
}

div#style_options {
    padding-top: 20px;
    padding-bottom: 20px;
}

div#breadcrumb {
    margin-left: 20px;
}

div.style_option {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
img.current_style {
    border: 5px solid #A4DAE2
}

