<div id='column_left'>
  <div id='author'>
    <p>
      <strong>Name:</strong>
      {{ author.name }}
    </p>
    <p>
      <strong>Gender:</strong>
      {{ author.gender }}
    </p>
    <p>
      <strong>Description:</strong>
      {{ author.description }}
    </p>
  </div>
</div>