<% title "Author" %>

<% content_for :header_links do %>
  <% if @site.users.include? current_user %>
    | <%= link_to "Edit this author", edit_site_author_path(@site, @author) %>
    | <%= link_to "View all authors", site_authors_path(@site) %>
  <% end %>
<% end %>

<p>
  <strong>Name:</strong>
  <%=h @author.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @author.description %>
</p>
