<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<% @user.sites.each do |site| %>
    <p>
        <%= link_to site.name, site_path(site) %>
    </p>
<% end %>

<%= link_to 'Create a site', new_site_path %>
<%= link_to 'Change Password', edit_account_path %>