/* Body and Website container DIVs */

body {
    background:  url(images/background.gif);
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.5em;
    color: #000;
}

#website {
    width: 900px;
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    border: 1px solid #333;
    text-align: left;
  
}

#fullsearch{
	display: block;
	position: absolute;
	float: right;
	top: 0px;
	right: 0px;
	height: 20px;
	padding: 3px;
	margin: 0px;
	background-color: #000000;
	font-family: arial;
	font-size: 14px;
	color: #FFFFFF;	
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
	text-transform: uppercase;
}

/*The background of this div should match the website background*/
body.p {
    background: #EFEFEF;
    padding: 0;
    margin-bottom: 1em;  
}

#popup { 
    background: #EFEFEF;
    padding-top: 1em;
    margin-left: 10%;
    padding-right: 10%;
    text-align: left;
}

body.p h2 {
    margin-top: 1.5em;
    width: 95%;
}

#popup h3 {
    text-align: center;
    font-size: 14px;
}

#popup h4 {
    text-align: center;
    font-size: 12px;
}

/* General attributes (links, images, etc.) */

a:link, a:visited {
    color: #333;
}

img {
    border: 0;
    display: inline;
}

li {
    margin-bottom: 0.5em;
}

/* Header (banner) and Navigation DIVs */

#header {
    margin-top: 0;
    padding: 0;
    margin-right:24px;
    margin-left: 25px;
    padding-bottom: 14px;
}   

#header h1  {
    background: url(images/banner_left.gif) #E1E2E3;
    background-repeat: no-repeat;
    height: 62px;
    margin-top: 20px;
}

#sitetitle{
   font-size: 21px;
   color: #333;
   background: #E1E2E3;
   line-height: 62px;
   padding-left:15px;
 }

#sitetitle a {
    text-decoration: none;
}

#sitetitle a:hover {
    text-decoration: underline;
}


#nav {
    background: url(images/nav_left.gif) #E1E2E3;
    background-repeat: no-repeat;
    font-size: 13px;
    height:22px;
    line-height:22px;
    padding-left:16px;  
  
}

#nav ul {
    margin: 0;
    padding: 0px 0px 0;
    list-style: none;
    
}

#nav li {
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
}

#nav a {
   
    float: left;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size:11px;
    display: block;
    padding: 0px 60px 0px 0px;
    text-decoration:none;
    color: #999999;
}

#nav a:hover{
    text-decoration:underline;
    color: #999999;
}

/* Commented Backslash Hack
     hides rule from IE5-Mac \*/
#nav a { float: none; }
  /* End IE5-Mac hack */

#nav a.current {
    font-weight: bold;
    text-decoration:underline;
    color: #333333;
}

#nav li {
    float: left;
    margin:0;
    padding:0;
    }
    
    
/* Main content container div */

#content p { 
    font-size: 11px;
    padding-left: 10px;
    line-height: 16px;
}
    
/* Left and Right Column DIVs */

/* the width attribute of #index_left is redefined in the header of index.php
   based upon the following formula:
      
   width =  {Site Width} - 100px - width of featured image
   
   the default setting below (45%) should never actually get used.
   
*/
#index_left {
    padding-right: 26px;
    padding-bottom: 1.5em;
    float: left;
    width: 45%;
    /* extra padding for front page */
    padding-top: 1em;
    margin-bottom: 1em;
    padding-left: 25px;
    
  
}

#error{
 color: #FF3333; 
}

#left {
    padding-left: 25px;
    padding-right: 22px;
    padding-bottom: 3em;
    /*width: 504px;*/
    width: 620px;
    float: left;
}

#leftcontent {
    margin-top: 0px;
    padding-bottom:10px;
}

#about, #news, #glossary, #search {
    width: 85%;
}

#index_left #news {
    width: 100%;
    margin-top: 3em;
}

h2 {    
    background: url(images/box_left.gif) #E1E2E3;
    background-repeat: no-repeat;
    font-size: 11px;
    font-weight: normal;
    color: #000;
    padding: 3px 2px 3px 10px;
    margin-top: 0;
    display:block;
  
}

#index_right, #right {
    float: right;
    padding-bottom: 1.5em;
    background: url(images/line.gif) no-repeat;   
}

#index_right {
     /* extra padding for front page */
    padding-bottom: 1em;
    margin-bottom: 1em;
    padding-right: 26px;
    padding-left: 30px;
    margin-top: 1em; 
    
}

#right {
    margin-top: 0;
    /* width for IE 5 */
    width: 229px;
    padding-left: 24px;
    padding-right: 20px;
    voice-family: "\"}\""; 
    voice-family:inherit;
    /* width for everyone except IE 5 */
    width: 173px;
}

#ie5bug {
/* IE 5 Win doesn't like the navbar unless this is here. */
}



#rightcontent {
    margin-top: 0px;
    padding-bottom: 10px;
}

#featured_image {
    padding: 4px;
    margin-top: -5px;
}

#endcontent {
    border-top: 1px solid #AAA;
    clear: both;
    height: 1px;
}


/* Index page DIVs */

#stats {
    margin-top: 3.5em;

}
#stats li{
    font-size: 11px;
    padding-left: 10px;
}

#news {
}

#courses {
    margin-top: 3.5em;
}

#news div.newsitem {
    border-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Viewtext.php page Divs */

#mainImage {
    padding-top: 1em;
}

#mainImage p.caption {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
}

#mainImage p.imgconsole {
    text-align: center;
    font-size: 11px; 
    margin-top: 0;
    margin-bottom: 1em;
}

#moreimages div.thumb {
    text-align: center;
    float: left;
    margin-right: 12px;
    margin-left: 2px;
    padding-bottom: 1em;
}

#moreimages p.caption {
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}

#moreimages p.imgconsole {
    margin-top: 0.25em;
}

#textinfo {
    line-height: 1.6em;
}

#textinfo .small {
    font-size: 10px;
}

#textinfo .history {
    margin-top: 1em;
    font-size: 10px;
}

#moreimages {
    padding-top: 2.25em;
    padding-bottom: 2.25em;
}

#record {
    font-size: 11px;
}

#record span.heading {
    font-weight:bold;
}

#record span.history {
    font-size: 10px;
}


/* viewimage.php page DIVS*/

#viewimage {
    width: 100%;
    padding: 0; margin: 0;
}

#next{
    background: url(images/next.gif);
    background-position:center;
    background-repeat: no-repeat;
    width:60px;

}

#prev{
    background: url(images/previous.gif);
    background-repeat: no-repeat;
    background-position:center; 
    width:60px;
}

#viewimage h3{
    padding-top: 10px;
    font-size: 12px;
    padding-bottom:5px;
    
}

#viewimage h4{

    padding-top: 5px;
    font-size: 11px;
  
}

#viewimage table{
    clear: both;
 
}

#viewimage td.next img{
    padding-right: 10px;
    padding-left: 0px;
}

#viewimage td.prev img{
    padding-left: 10px;
    padding-right: 0px;
}

#viewimage div.bottom{
   text-align: right;
   padding-right: 12px;
   
}

#viewimage div.top{
    text-align: right;
    margin-top: -2.5em;
    padding-right: 12px;
}

/* Breadcrumb Trail */

#leftcontent #breadcrumb, #textflip {
    margin-top: 0;
    height: 30px;
    font-size: 10px;
    color: #777;
    line-height: 1.3em;
    margin-bottom: 1em;
}

#breadcrumb a:link, #breadcrumb a:visited {
    font-size: 10px;
    color: #777;
    padding-left:1px;
}

/* Additional text nav */

#textflip a:link, #textflip a:visited  {
    font-size: 10px;
    color: #777;
}

#prevflip {
    width: 49%;
    float: left;
    text-align: left;

}

#nextflip {
    width: 49%;
    float: right;
    text-align: right;
}


/* Secondary Nav */

#rightcontent {

}

#newsRight, #glossaryRight, #aboutRight {
    margin-top: 40px;
}

#rightcontent h2 {

    font-size: 11px;
    padding: 2px 10px 3px 10px;
}

#index_right #rightcontent h2 {
    font-size: 11px;
}

#rightcontent ul {
    list-style: none;
    margin-left: 1px;
    padding-left: 1px;
    font-size: 10px;
}

#rightcontent li {
    margin-bottom: 0.5em;
}

#nav2 ul {
    list-style: none;
    margin-left: 0;
    padding-left: 4px;
    font-size: 10px;
    color: #777;
}

#nav2 a:link, #nav2 a:visited {
    color: #777;
}

#nav2 a.current:link, #nav2 a.current:visited {
    font-weight: bold;
    text-decoration: none;
    font-size: 10px;
    color: #777;
}


/* Thumbnail table and related styles */

#thumbtable {
    width: 98%;
    margin-bottom: 0;
    margin-top: 1em;
}

p.imgconsole {
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 0;
}

#thumbtable p.caption {
    margin: 0.5em 1.5em 1em 0px;
    padding-bottom: 3em;
    font-size: 10px;
    line-height: 1.4em;
    padding-left: 0;
}

/* News related styles */

#news h2{
   
}

#news ul {

}

.newsitem {
    border-bottom: 1px solid #AAA;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.newsitem span.headline {
    font-size: 11px;
    font-weight:bold;
    padding-left:10px;
    padding-top:20px;
}

.newsitem span.info {
    font-size: 10px;
    padding-left:10px;
}

#newsRight a:link, #newsRight a:visited {
    color: #777;
}

/* Thumbnail view mode and related style */
#thumbnails {
    border: solid red;

}

#thumbtable, #listView {
    /* Make these vertically line up with the nav and header */
    margin-left: 9px;
}

#thumbtable td.thumbTD img {
    padding-right: 10px;
}

#thumbtable td.captionTD p {
    width: 90%;
}

td.thumbTD p {
    width: 100%;
}

#thumbtable td.captionTD p.caption span.optional {
    color: #696969;

}


/* Glossary-related styles */

#glossary h2 {
    /* to compensate for initial div.letter margin */
    margin-bottom: -0.75em;
}

div.glossaryDef {
    margin-left: 20px;
}

div.glossaryDef h3 {
    margin-left: -20px;
    font-size: 12px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: -0.5em;
}

div.letter {
    font-weight: bold;
    font-size: 14px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    padding-bottom: 4px;
    display: block;
    border-bottom: 1px solid #AAA;
}




/* List view mode and related styles */

#listView {
    margin-top: 1em;
}


div.hr {
    clear: both;
    border-bottom: 1px solid #AAA;
    margin-top: 1em;
    margin-bottom: 1em;    
}

.listRow {
    padding-bottom: 2em;
    padding-top: 1em;
}

.listRow div.listThumb {
    float: left;
    padding-right: 50px;
    text-align: left;
}

.listRow div.listThumb img {
    padding-bottom: 2em;
}

.listRow div.listInfo {
    float: left;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 2em;
    width: 255px;
   
}

.listRow div.listInfo ul {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.listRow div.listInfo ul li {
    font-size: 10px;
} 


/* Image magnification consoles / symbols */

.maglow {
    font-size: 9px;
    margin-right: 4px;
}

.magmed {
    font-size: 11px;
    margin-right: 3px;
}

.maghigh {
    font-size: 13px;
    margin-right: 3px;
}


/* Comment-related styles */

.commentLegend {
    width: 40%;
    float: left;
    text-align: left;
    font-size: 10px;
    margin-left: 3.5em;
}

.csymbol {
    margin-left: 0;
    height: 100%;
    vertical-align: top;
    font-size: 10px;
    line-height: 10px;
}

.csymbol a:link, .csymbol a:visited {
    color: inherit;
    text-decoration: none;
}

.color {
    background: #DEDEDE;
}

tr.cborder td {
    border-bottom: 1px solid #888;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

tr.cborder2 td {
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}


/* Widgets */

#pagination {
    padding-bottom: 0.25em;
}

#pagination p {
    margin-left: 3px;
}

.pagination {
    font-size: 10px;
}

#viewswitcher {
    margin-top: 3.5em;
}

#jumpto {
    margin-top: 3.5em;
    padding-bottom: 0.5em;
}

#jumpto p {
    margin-left: 3px;
}

#commentLegend {
    margin-top: 3.5em;
    padding-bottom: 2em;
}

#commentLegend p {
    font-size: 10px;
    margin-left: 3px;
}

/* Footer */

#footer {
    padding-left: 30px;
    padding-right: 30px;
}

#sp_logo {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    float: left;
   }

/* Extras */

.news {
    font-size: 10px;
}


#stats li {
    list-style: none;
}

#stats ul {
    padding-left: 0;
    margin-left: 0;
}

.fineprint {
    padding-top: 1.5em;
    color: #999;
    font-size: 9px;
    line-height: 1.3em;
    padding-left: 2.5em;
    padding-bottom: 1em;
    float: left;
    width: 522px;
}

.fineprint a:link, .fineprint a:visited {
    color: #999;
}

/* START SPViewSwitcher widget style */

#viewwidget {
    height: 20px;
    margin-top: 1.25em;
    margin-left: 6px;
    padding-bottom: 0.5em;
    width: 150px;
    height: 60px;
}

.widgets {
    margin-bottom: 0.5em;
}

#viewwidget .text {
    font-size: 11px;
    padding-right: 8px;
    line-height: 16px;
}

#viewwidget .widgets {
    line-height: 2px;
    padding-bottom: 10px;
}

#view_thumb {
    padding-right: 2px;
    margin-right: 8px;
    float: left;
    width: 16px;
}

#view_thumb .s {
    width: 5px;
    height: 7px;
    line-height: 5px;
    border: 1px solid #AAA;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
}

#view_list {
    width: 28px;
    float: left;
}

#view_list div.row .s {
    width: 5px;
    height: 7px;
    line-height: 5px;
    border: 1px solid #AAA;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
}

#view_list div.row .line {
    color: #AAA;
    line-height: 6px;
    font-size: 12px;
}

#viewwidget .widgets a:link, #viewwidget .widgets a:visited {
    text-decoration: none;
}

#viewwidget a:link .text, #viewwidget a:visited .text {
    color: #777;
    text-decoration: underline;
}

#viewwidget a:hover .text {
    color: #444;
}

#viewwidget .widgets a:hover {
    border: 0px;
}


#viewwidget .widgets a:hover #view_thumb .s, #viewwidget .widgets a:hover #view_list .s {
    border: 1px solid #444;
}

#viewwidget .widgets a:link #view_list.active .s, #viewwidget .widgets a:visited #view_list.active .s, #viewwidget .widgets a:link #view_thumb.active .s, #viewwidget .widgets a:visited #view_thumb.active .s {
    background: #DDD;
    border: 1px solid #777;
}

#viewwidget .widgets a:hover #view_list .line, #viewwidget .widgets a:link #view_list.active .line, #viewwidget .widgets a:visited #view_list.active .line {
    color: #444;
}

/* END SPViewSwitcher widget style */

/* Advanced Search Styles */

#advancedsearch_table td {
    padding-bottom: 6px;
}


/* Narrative Styles */

.narrativeList ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.narrativeList ul li {
	clear: both;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.narrativeList .thumb {
	/*float: left;*/
	margin-right: 15px;
	border: thin solid black;
}

.narrativeList a {
text-decoration: none;
}

.narrativeList .narrative {
margin-left: 20px;
}

.narrativeList .narrative .narr_header {
    margin-bottom: 10px;
}

.narrativeList .narrative .title {
font-weight: bold;
}

.narrativeList .narrative .author {
font-style: italic;
}

.narrativeList .narrative .description {
}

.narrativeList .narrative td {
    vertical-align: top;
}

.narrativeSlide { }

.narrativeSlide .navigation {
	/*float: right;*/
}

.narrativeSlide .narrativeTitle {
	font-weight: bold;
	display: inline;
}

.narrativeSlide .index {
	display: inline;
}

.narrativeSlide .slideTitle {
	font-weight: bold;
	margin-top: 10px;
}

.narrativeSlide img {
	/*border: thin solid black;*/
	/*margin-right: 50px;*/
}

.narrativeSlide .text {
padding: 0;
margin: 0;
}


#content .narrativeSlide .text p {
margin: 10px 0 10px 0;
padding: 0;
}

.sortableSlideList {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sortableSlide {
	cursor: move;
	margin: 10px;
	padding: 10px;
	background-color: #aaa;
	text-align: left;
}


.sortableSlide:after {
    content: "."; 
    display: block; 
    height: 0; 
    font-size: 0;	
    clear: both;
    visibility: hidden;
}

.sortableSlide img {
	float: left;
	border: thin solid black;
	margin-right: 20px;
}
