<% title "Edit Document Type", false %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", site_document_type_path(@site, @document_type) %> |
  <%= link_to "View All", site_document_types_path(@site) %>
</p>
