<% title "Edit Document Type" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", document_type_path(@document_type, :subdomain => @site.title) %> |
  <%= link_to "View All", document_types_path(:subdomain => @site.title) %>
</p>
