<% title "Full text page" %>

<% form_for [@show_full_text_template], :builder => AdminFormBuilder, :url => { :controller => :show_full_text_template, :action => :update } do |f| %>
  <fieldset class="layout">
    <legend>Browse Artifacts Template</legend>
    <%= f.error_messages %>
    <table>
      <tr><td><%= f.text_area :template, :rows=>30 %></td><td><%= f.text_area :css, :rows=>30 %></td></tr>
    </table>
    <div class="submit"><%= f.submit "Save" %></div>
  </fieldset>
<% end %>


