<% title "About page" %>

<% form_for [@show_about_template], :builder => AdminFormBuilder, :url => { :controller => :show_about_template, :action => :update } do |f| %>
  <fieldset>
    <legend>About Page Template</legend>
    <%= f.error_messages %>
    <%= f.text_area :template, :rows=>20 %>
    <%= f.text_area :css, :rows=>20 %>
    <div class="submit"><%= f.submit "Save" %></div>
  </fieldset>
<% end %>

