<p>
  <% categories = @site.categories.map { |category| [category.name, category.id] } %>
  <% options = options_for_select(categories) %>
  <%= select_tag "item[categories_list][]", options, :id => "new_category_select" %>
  <%= link_to_function "[remove]", "remove_parent_element($(this))" %>
</p>