<div class="new_photo">
    <% fields_for "item[photo_attributes][]", photo do |p| %>
        <p>
            <%= p.label :photo %>
            <%= p.file_field :photo%>
            <%= link_to_function "[remove]", "remove_parent_element($(this))" %>
        </p>
    <% end %>
</div>
