<% if photo.new_record? %>
<div class="new_photo">
    <% fields_for "item[photo_attributes][]", photo do |p| %>
        <p>
            <%= p.label :Photo %><br />
            <%= p.file_field :photo%>
            <%= link_to_function "delete", "remove_parent_element($(this))" %>
        </p>
    <% end %>
</div>
<% end %>