<% title "Edit #{@singular}" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", item_path(@item, :subdomain => @site.title) %> |
  <%= link_to "View All", items_path(:subdomain => @site.title) %>
</p>
