<div id="photo_<%= small_photo.id %>" class="photo_icon">
  <%= link_to_function image_tag(small_photo.photo.url(:thumb), :alt => "", :class => "photo_icon"),
    "update_current_photo('#{escape_javascript render(:partial => 'photos/large_photo', :object => small_photo)}')", :id => "photo_link_#{small_photo.id}" %>
</div>
