<% title "Edit Category" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", category_path(@category, :subdomain => @site.title) %> |
  <%= link_to "View All", categories_path(:subdomain => @site.title) %>
</p>
