<% title "Category" %>

<p>
  <strong>Name:</strong>
  <%= sanitize @category.name %>
</p>

<p>
  <%= link_to "Edit", edit_site_category_path(@site, @category) %> |
  <%= link_to "Destroy", site_category_path(@site, @category), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", site_categories_path(@site) %>
</p>
