 /* Body and Website container DIVs */

body {
    background: url(images/wallpaper.gif) #DDD;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 12px;
    line-height: 1.6em;
    color: #000;
   
}

#website {
    width: 900px;
    background: url(images/paper.jpg) no-repeat #E8D9BA;
    background-position: 0px 87px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    border: 1px solid #23201E;
    text-align: left;
}

/*The background of this div should match the #website background*/
body.p {
    background: #F9E2B9;
    padding: 0;
    margin-bottom: 1em;
}

#popup { 
    background: #F9E2B9;
    padding-top: 1em;
    margin-left: 10%;
    padding-right: 10%;
    text-align: left;
}

body.p h2 {
    margin-top: 1.5em;
    width: 95%;
}

#popup h3 {
    text-align: center;
    font-size: 14px;
}

#popup h4 {
    text-align: center;
    font-size: 13px;
}

/* General attributes (links, images, etc.) */

a:link, a:visited {
    color: #4f1612;
}

img {
    border: 0;
    display: inline;
}

li {
    margin-bottom: 0.5em;
}

/* Header (banner) and Navigation DIVs */

#header {
    margin-top: 0;
    padding: 0;
    height: 87px;  
    background: url(images/main.jpg) no-repeat #23201E;
}   

#header h1 {
    margin: 0;
    width: 190px;
    margin-left: 30px;
    padding-top: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline;
    float: left;
    vertical-align: middle;  
    }


#sitetitle a {
    text-decoration: none;
}

#sitetitle a:hover {
    text-decoration: underline;
}

#nav {
    background: url(images/top.jpg) top left repeat-x #2F2E2A;
    margin-left: 245px;
    padding-top: 19px;
    height: 68px;
    font-size: 14px;
    color: #E8D9BA;
}

#nav ul {
    margin: 0;
    padding: 0px 0px 0;
    list-style: none;
}

#nav li {
    float: left;
    background:url(images/tab.jpg) no-repeat;
    background-position: bottom;
    padding: 0;
   }

#nav a:link, #nav a:visited {
    text-align: center;
    width: 85px;
    text-decoration: none;
    margin-top: 35px;
    display: block;
    padding: 5px 0px 9px 0px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 14px;
    font-variant: small-caps;
    letter-spacing: 1px;
    color:#23201E;
}

/* Commented Backslash Hack
     hides rule from IE5-Mac \\*/
#nav a { float: none; }
  /* End IE5-Mac hack */


/* tweak positioning of some individual nav links */
#nav_search a { margin-left: 0px; }
#nav_news a { margin-left: 20px; }
#nav_about a { margin-right: -5px; }

#nav a.current {
    color: #000;
}``

#nav a:hover {
    text-decoration: underline;
}

#nav a.current:hover {
    text-decoration: none;
}

    
/* Main content container div */

#content { 
    clear: left;
}
    
/* Left and Right Column DIVs */

/* the width attribute of #index_left is redefined in the header of index.php
   based upon the following formula:
      
   width =  {Site Width} - 100px - width of featured image
   
   the default setting below (45%) should never actually get used.
   
*/
#index_left {
    padding-left: 31px;
    padding-right: 22px;
    padding-bottom: 1.5em;
    float: left;
    width: 45%;
    /* extra padding for front page */
    padding-top: 1em;
    margin-bottom: 1em;
}

#error{
 color: #FF3333; 
}

#left {
    padding-left: 31px;
    padding-right: 17px;
    padding-bottom: 3em;
    /*width: 504px;*/
    width: 620px;
    float: left;
}

#leftcontent {
    margin-top: 22px;
}

#about, #news, #glossary, #search {
    width: 85%;
}

h2 {    
    font-size: 14px;
    font-weight: bold;
    color: #23201E;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 1.5em;
}

#index_right, #right {
    float: right;
    padding-bottom: 1.5em;
    background: url(images/divider.gif) no-repeat transparent;
    background-position: -3px 22px;    
}

#index_right {
     /* extra padding for front page */
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    padding-right: 24px;
    padding-left: 30px;
}

#right {
    /* width for IE 5 */
    width: 229px;
    margin-top: 45px;
    padding-left: 24px;
    padding-right: 26px;
    voice-family: \"\\\"}\\\"\"; 
    voice-family:inherit;
    /* width for everyone except IE 5 */
    width: 173px;
}

#ie5bug {
/* IE 5 Win doesn\'t like the navbar unless this is here. */
}

#right.viewtext {
    margin-top: 0;
}

#rightcontent {
    margin-top: 22px;
    margin-bottom: 2em;
}

#featured_image {
    margin: 4px;
    border: 1px solid #4f1612;
}

.xtraImgBorder {
    border: 1px solid #4f1612;
}

#endcontent {
    border-top: 1px solid #696969;
    clear: both;
    height: 1px;
}


/* Index page DIVs */

#stats {
    margin-top: 2.5em;
}
#news {
    margin-top: 2.5em;
}

#courses {
    margin-top: 2.5em;
}

/* Viewtext.php page Divs */

#mainImage {
    padding-top: 1em;
}

#mainImage p.caption {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
}

#mainImage p.imgconsole {
    text-align: center;
    font-size: 11px; 
    margin-top: 0;
    margin-bottom: 1em;
}

#moreimages div.thumb {
    text-align: center;
    float: left;
    margin-right: 12px;
    margin-left: 2px;
    padding-bottom: 1em;
}

#moreimages p.caption {
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}

#moreimages p.imgconsole {
    margin-top: 0.25em;
}

#textinfo {
    line-height: 1.7em;
}

#textinfo .small {
    font-size: 11px;
}

#textinfo .history {
    margin-top: 1em;
    font-size: 11px;
}

#moreimages {
    padding-top: 2.25em;
    padding-bottom: 2.25em;
}

#record {
    font-size: 12px;
}

#record span.heading {
    font-weight:bold;
}

#record span.history {
    font-size: 11px;
}

#browseList li {
    color: #4f1612;
}

/* viewimage.php page DIVS*/

#viewimage {
    width: 100%;
    padding: 0; margin: 0;
}

#next{
    background: url(images/next.gif);
    background-position:center;
    background-repeat: no-repeat;
    width:60px;

}

#prev{
    background: url(images/previous.gif);
    background-repeat: no-repeat;
    background-position:center; 
    width:60px;
}

#viewimage h3{
    padding-top: 10px;
    font-size: 13px;
    padding-bottom:5px;
    
}

#viewimage h4{

    padding-top: 5px;
    font-size: 11px;
  
}

#viewimage table{
    clear: both;
 
}

#viewimage td.next img{
    padding-right: 10px;
    padding-left: 0px;
}

#viewimage td.prev img{
    padding-left: 10px;
    padding-right: 0px;
}

#viewimage div.bottom{
   text-align: right;
   padding-right: 12px;
   
}

#viewimage div.top{
    text-align: right;
    margin-top: -2.5em;
    padding-right: 12px;
}

/* Breadcrumb Trail */

#breadcrumb {
    margin-top: 0;
    height: 40px;
    font-size: 11px;
    color: #000;
    margin-bottom: 0.5em;
}

#breadcrumb a:link, #breadcrumb a:visited {
    font-size: 11px;
    color: #000;
}

/* Addition text nav */

#textflip {
    height: 40px;
    font-size: 11px;
    color: #000;
    margin-bottom: 0.5em;

}

#textflip a:link, #textflip a:visited  {
    font-size: 11px;
    color: #000;
}

#prevflip {
    width: 49%;
    float: left;
    text-align: left;

}

#nextflip {
    width: 49%;
    float: right;
    text-align: right;
}


/* Secondary Nav */


#rightcontent ul {
    list-style: none;
    margin-left: 1px;
    padding-left: 1px;
    font-size: 11px;
}

#rightcontent li {
    margin-bottom: 0.5em;
}

#nav2 ul {
    list-style: none;
    margin-left: 0;
    padding-left: 4px;
    font-size: 12px;
    color: #4f1612;
}

#nav2 a:link, #nav2 a:visited {
    color: #4f1612;
}

#nav2 a.current:link, #nav2 a.current:visited {
    text-decoration: none;
    font-size: 12px;
    color: #000;
}


/* Thumbnail table and related styles */

#thumbtable {
    width: 100%;
    margin-bottom: 0;
    margin-top: 1em;
}

p.imgconsole {
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 0;
}

p.caption {
    margin: 0.5em 1.5em 1em 0;
    padding-bottom: 3em;
    font-size: 11px;
    line-height: 1.6em;
}


/* News related styles */

.news {
    font-size: 11px;
}

.newsitem {
    background: url(images/line.gif) bottom left no-repeat;
    padding-top: 1em;
    padding-bottom: 2.5em;
    margin-bottom: 1em;
}

#index_left .newsitem {
    background: transparent;
}

#newsIndex div.newsitem {
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.newsitem span.headline {
    letter-spacing: 1px;
}

.newsitem span.info {
    font-size: 11px;
}

/* Thumbnail view mode and related style */
#thumbnails {
    border: solid red;

}

#thumbtable td.thumbTD img {
    padding-right: 10px;
}

#thumbtable td.captionTD p {
    width: 90%;
}

td.thumbTD p {
    width: 100%;
}

#thumbtable td.captionTD p.caption span.optional {
    color: #000;

}


/* Glossary-related styles */

#glossary h2 {
    /* to compensate for initial div.letter margin */
    margin-bottom: -0.75em;
}

div.glossaryDef {
    margin-left: 20px;
}

div.glossaryDef h3 {
    margin-left: -20px;
    font-size: 13px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: -0.5em;
}

div.letter {
    font-weight: bold;
    font-size: 14px;
    margin-top: 2em;
    margin-bottom: 0.5em;
    padding-bottom: 4px;
    display: block;
    border-bottom: 1px solid #696969;
}




/* List view mode and related styles */

#listView {
    margin-top: 1em;
}


div.hr {
    clear: both;
    height: 20px;
    background: url(images/line.gif) top left no-repeat;
    border: 0;
    margin-top: 1.25em;
    margin-bottom: 1.25em;    
}

.listRow {
    padding-bottom: 2em;
    padding-top: 1em;
}

.listRow div.listThumb {
    float: left;
    padding-right: 50px;
    text-align: left;
}

.listRow div.listThumb img {
    padding-bottom: 2em;
}

.listRow div.listInfo {
    float: left;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 2em;
    width: 255px;
   
}

.listRow div.listInfo ul {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.listRow div.listInfo ul li {
    font-size: 11px;
} 


/* Image magnification consoles / symbols */

.maglow {
    font-size: 10px;
    margin-right: 4px;
}

.magmed {
    font-size: 12px;
    margin-right: 3px;
}

.maghigh {
    font-size: 14px;
    margin-right: 3px;
}


/* Comment-related styles */

.commentLegend {
    width: 40%;
    float: left;
    text-align: left;
    font-size: 11px;
    margin-left: 3.5em;
}

.csymbol {
    margin-left: 0;
    height: 100%;
    vertical-align: top;
    font-size: 11px;
    line-height: 10px;
}

.csymbol a:link, .csymbol a:visited {
    color: inherit;
    text-decoration: none;
}

.color {
    background: #FFF;
}

tr.cborder td {
    border-bottom: 1px solid #888;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

tr.cborder2 td {
    border-bottom: 1px solid #888;
    border-top: 1px solid #888;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}


/* Widgets */

#pagination {
    padding-bottom: 0.25em;
}

#pagination p {
    margin-left: 3px;
}

.pagination {
    font-size: 12px;
}

#viewswitcher {
    margin-top: 3.5em;
}

#jumpto {
    margin-top: 3.5em;
    padding-bottom: 0.5em;
}

#jumpto p {
    margin-left: 3px;
}

#commentLegend {
    margin-top: 3.5em;
    padding-bottom: 2em;
}

#commentLegend p {
    font-size: 11px;
    margin-left: 3px;
}

/* Footer */

#footer {
    padding-left: 30px;
    padding-right: 30px;
}

#sp_logo {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    float: left;
   }

/* Extras */

#stats li {
    list-style: none;
    margin: 0;
    line-height: 1.75em;
}

#stats ul {
    padding-left: 0;
    margin-left: 0;
}

.fineprint {
    padding-top: 1.5em;
    color: #696969;
    font-size: 10px;
    line-height: 1.3em;
    padding-left: 2.5em;
    padding-bottom: 1em;
    float: left;
    width: 510px;
}

.fineprint a:link, .fineprint a:visited {
    color: #696969;
}

/* START SPViewSwitcher widget style */

#viewwidget {
    height: 20px;
    margin-top: 1.25em;
    margin-left: 6px;
    padding-bottom: 0.5em;
    width: 150px;
    height: 60px;
}

.widgets {
    margin-bottom: 0.5em;
}

#viewwidget .text {
    font-size: 12px;
    padding-right: 8px;
    line-height: 16px;
}

#viewwidget .widgets {
    line-height: 2px;
    padding-bottom: 10px;
}

#view_thumb {
    padding-right: 2px;
    margin-right: 8px;
    float: left;
    width: 16px;
}

#view_thumb .s {
    width: 5px;
    height: 7px;
    line-height: 5px;
    border: 1px solid #4f1612;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
}

#view_list {
    width: 28px;
    float: left;
}

#view_list div.row .s {
    width: 5px;
    height: 7px;
    line-height: 5px;
    border: 1px solid #4f1612;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
}

#view_list div.row .line {
    color: #4f1612;
    line-height: 6px;
    font-size: 13px;
}

#viewwidget .widgets a:link, #viewwidget .widgets a:visited {
    text-decoration: none;
}

#viewwidget a:link .text, #viewwidget a:visited .text {
    color: #4f1612;
    text-decoration: underline;
}

#viewwidget a:hover .text {
    color: #000;
}

#viewwidget .widgets a:hover {
    border: 0px;
}


#viewwidget .widgets a:hover #view_thumb .s, #viewwidget .widgets a:hover #view_list .s {
    border: 1px solid #000;
}

#viewwidget .widgets a:link #view_list.active .s, #viewwidget .widgets a:visited #view_list.active .s, #viewwidget .widgets a:link #view_thumb.active .s, #viewwidget .widgets a:visited #view_thumb.active .s {
    background: #DFCAA4;
    border: 1px solid #000;
}

#viewwidget .widgets a:hover #view_list .line, #viewwidget .widgets a:link #view_list.active .line, #viewwidget .widgets a:visited #view_list.active .line {
    color: #000;
}

/* END SPViewSwitcher widget style */

/* Advanced Search Styles */

#advancedsearch_table td {
    padding-bottom: 6px;
}

/* Course-related styles */

#courseTexts, #courseFiles {
    margin-top: 3.5em;
}

/* Narrative Styles */

.narrativeList ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.narrativeList ul li {
	clear: both;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.narrativeList .thumb {
	/*float: left;*/
	margin-right: 15px;
	border: thin solid black;
}

.narrativeList a {
text-decoration: none;
}

.narrativeList .narrative {
margin-left: 20px;
}

.narrativeList .narrative .narr_header {
    margin-bottom: 10px;
}

.narrativeList .narrative .title {
font-weight: bold;
}

.narrativeList .narrative .author {
font-style: italic;
}

.narrativeList .narrative .description {
}

.narrativeList .narrative td {
    vertical-align: top;
}

.narrativeSlide { }

.narrativeSlide .navigation {
	/*float: right;*/
}

.narrativeSlide .narrativeTitle {
	font-weight: bold;
	display: inline;
}

.narrativeSlide .index {
	display: inline;
}

.narrativeSlide .slideTitle {
	font-weight: bold;
	margin-top: 10px;
}

.narrativeSlide img {
	/*border: thin solid black;*/
	/*margin-right: 50px;*/
}

.narrativeSlide .text {
padding: 0;
margin: 0;
}


#content .narrativeSlide .text p {
margin: 10px 0 10px 0;
padding: 0;
}

.sortableSlideList {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sortableSlide {
	cursor: move;
	margin: 10px;
	padding: 10px;
	background-color: #aaa;
	text-align: left;
}


.sortableSlide:after {
    content: \".\"; 
    display: block; 
    height: 0; 
    font-size: 0;	
    clear: both;
    visibility: hidden;
}

.sortableSlide img {
	float: left;
	border: thin solid black;
	margin-right: 20px;
}
