<div id='columb_right'>
  <div id='about'>
    <h2>{{ site.name | upcase }}</h2>
    {{ site.about_project }}
    <br />
    <h2>DIGITIZATION PROCEDURES</h2>
    {{ site.about_procedures }}
  </div>
</div>
