<% form_for [@site, @news_post], :builder => AdminFormBuilder, :url => {:controller => 'user/news_posts', :action => action, :subdomain => @site.title}, :html => { :multipart => true } do |f| %>
<fieldset>
  <%= f.error_messages %><% if f.object.new_record? %>
  <legend>Create News Post</legend>
  <% else %>
  <legend>Edit News Post</legend>
  <% end %>
  
    <%= f.text_field :title %>
    <%= f.text_area :content, :rows => 20 %>
  
  <div class="submit"><%= f.submit "Submit" %></div>
</fielsdset>  
<% end %>