<% title "Categories" %>
<div id="shown_content">
  <h2>Categories</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
    <% for category in @categories %>
      <tr>
        <td><%= sanitize category.name %></td>
        <td><%= link_to "Edit", edit_category_path(category, :subdomain => @site.title) %></td>
        <td><%= link_to "Destroy", category_path(category, :subdomain => @site.title), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <p><%= link_to "New Category", new_category_path(:subdomain => @site.title) %></p>
</div>