<% title "Category" %>

<p>
  <strong>Name:</strong>
  <%= sanitize @category.name %>
</p>

<p>
  <%= link_to "Edit", edit_category_path(@category, :subdomain => @site.title) %> |
  <%= link_to "Destroy", category_path(@category, :subdomain => @site.title), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", categories_path(:subdomain => @site.title) %>
</p>
