<% title @site.name %>

<p>
  <%=h @site.description %>
</p>

<%= will_paginate @items, :inner_window => 1%>
<% if !@items.blank? %>
  <% for item in @items %>
    <%= render item %>
  <% end %>
<% else %>
  <p>This site doesn't have any items yet</p>
<% end %>