<% title "Login", false %>


<% form_for @user_session, :builder => AdminFormBuilder, :url => user_session_path do |f| %>
  <div id="login_form">
  <h3>Login</h3>
  <%= render :partial => "form", :object => f %>
  </div>
<% end %>

