<% title "Layout" %>

<% form_for [@layout_template], :builder => AdminFormBuilder, :url => { :controller => :layout_template, :action => :update } do |f| %>
  <fieldset>
    <legend>Layout Template</legend>
    <%= f.error_messages %>
    <%= f.text_area :template, :rows=>20 %>
    <%= f.text_area :css, :rows=>20 %>
    <div class="submit"><%= f.submit "Save" %></div>
  </fieldset>
<% end %>


